extends layout

block script
  script(src='/javascripts/index.js')

block content
  h1= title
  p(class='error')= error

  dev
    p 
      input(type='button', class='btn', id='regist', value="#{__('common.regist')}", onclick="regist();")
    p 
      input(type='button', class='btn', id='view', value="#{__('common.see list')}", onclick="viewList();")
