extends layout

block script
  script(src='/javascripts/index.js')

block content
  h1= title
  p Welcome to #{title}

  dev
    p 
      input(type='button', id='regist', value="#{__('regist')}", onclick="regist();")
    p 
      input(type='button', id='view', value="#{__('see list')}", onclick="viewList();")
