extends layout

block script
  script(src='/javascripts/index.js')

block content
  h1= title
  p Welcome to #{title}

  dev
    p 
      input(type='button', id='regist', value='新規登録', onclick="regist();")
    p 
      input(type='button', id='view', value='一覧表示', onclick="viewList();")
