extends layout

block content
  h1= __('login')
  p= error

  dev
    form(method='POST', action='/login')
      table
        tr
          td= __('loginId')
          td
            input(type='textbox', name='userName')
        tr
          td(colspan='2')
            input(type='submit', name='loginButton', value="#{__('login')}")