extends layout

block content
  h1= title

  form(method='POST', action='/regist')
    table
      tr
        td 名前
        td
          input(type='textbox', name='name')
      tr
        td 所属  
        td
          input(type='textbox', name='belong')
      tr
        td 電話番号
        td 
          input(type='textbox', name='tel')
      tr 
        td メールアドレス
        td
          input(type='textbox', name='email')
    input(type='submit', id='send', value='確認')
