body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table.view{
  border-collapse:collapse;
  margin:0 auto;
}
th.view{
  color:#005ab3;
}
td.view{
  border-bottom:1px dashed #999;
}
th.view,tr.view:last-child td.view{
  border-bottom:2px solid #005ab3;
}
td.view,th.view{
  padding:10px;
}
